body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: url('../images/custom-cursor.png'), auto;
  }

  #back_button{  
    background: url('../images/back-button.png'); 
    background-repeat: no-repeat;
     background-size: contain;
     height: 20vh;
     width: 25%;
     background-position: left; 
     font-size: 70px;
     font-family: Arial Black;
     z-index: 5;
     position: absolute;
     top: 0;
     left: 0;
                
    }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="file"] {
    padding: 10px 0;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  

  #contactbody{
    background-image: url('../images/CONTACTBODY.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
  }


  li{
    display: inline-block;
    }