body{
  background-color: hotpink;
  background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  cursor: url('../images/custom-cursor.png'), auto;
  overflow: hidden;
}


#about{  
  background: url('../images/ABOUT-GUM.png'); 
     background-repeat: no-repeat;
     background-size: contain;
     height:20vh;
     width:20%;
     background-position: left; 
     font-size: 70px;
     font-family: Arial Black;
}



#pink_gum{  
  background: url('../images/NPBUTTON.png'); 
     background-repeat: no-repeat;
      background-size: contain;
      height: 20vh;
      width: 20%;
      background-position: left; 
      font-size: 70px;
      font-family: Arial Black;
      
}

#blue_gum{  
background: url('../images/NBBUTTON.png'); 
background-repeat: no-repeat;
 background-size: contain;
 height: 20vh;
 width: 20%;
 background-position: left; 
 font-size: 70px;
 font-family: Arial Black;
          
}

#green_gum{  
background: url('../images/NGBUTTON.png'); 
background-repeat: no-repeat;
 background-size: contain;
 height: 20vh;
 width: 20%;
 background-position: left; 
 font-size: 70px;
 font-family: Arial Black;
              
}

#homePage_button{
background: url('../images/Home-Page-button.png'); 
background-repeat: no-repeat;
 background-size: contain;
 height: 20vh;
 width: 25%;
 background-position: left; 
 font-size: 70px;
 font-family: Arial Black;

}

#contact{
  background: url('../images/CONTACTBUTTON.png'); 
  background-repeat: no-repeat;
   background-size: contain;
   height: 20vh;
   width: 18%;
   background-position: left; 
   font-size: 70px;
   font-family: Arial Black;
  
  }

li{
display: inline-block;
}

#horizontalList{
  display: list-item;
}
    
#aboutbody{
  background-image: url('../images/About-page.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#contactbody{
  background-image: url('../images/CONTACTBODY.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#pinkbody{
  background-image: url('../images/PINKBODYUPDATED.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#bluebody{
  background-image: url('../images/BLUEBODYUPDATED.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#greenbody{
  background-image: url('../images/GREENBODYUPDATED.jpg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}


#back_button{  
  background: url('../images/back-button.png'); 
  background-repeat: no-repeat;
   background-size: contain;
   height: 20vh;
   width: 25%;
   background-position: left; 
   font-size: 70px;
   font-family: Arial Black;
                
  }


  body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*
#loading {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loading video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
*/

#loading {
  position: fixed;
  right: -14em;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.gallery {
  position: relative;
  right: -12.075em;
  bottom: 41.5em;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  max-width: 80px;
  max-height: 20px;
  margin: 20px auto;
}

.gallery img {
  width: 375px;
  height: 375px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}


